<section class="price">
  <div class="container">
    <h2 class="section__title section__title--bigger-font-weight">Price</h2>

    <!-- price -->
    <ul class="price__list list">
      <!-- easy start -->
      <li class="price__item">
        <h3 class="price__offer">Easy start</h3>
        <ul class="offer__list list">
          <li class="offer__item">
            <p class="offer__text">features of yeast dough preparation</p>
          </li>
          <li class="offer__item">
            <p class="offer__text">
              preparation of liquid caramel for stuffing
            </p>
          </li>
          <li class="offer__item">
            <p class="offer__text">
              preparation of raspberry and strawberry filling
            </p>
          </li>
          <li class="offer__item">
            <p class="offer__text">fry and glaze donuts</p>
          </li>
        </ul>
        <a class="button link" href="#registration">Register</a>
      </li>

      <!-- i want delicious donut -->
      <li class="price__item price__item--middle">
        <h3 class="price__offer">I want delicious donut</h3>
        <ul class="offer__list list">
          <li class="offer__item">
            <p class="offer__text">features of yeast dough preparation</p>
          </li>
          <li class="offer__item">
            <p class="offer__text">
              preparation of liquid caramel for stuffing
            </p>
          </li>
          <li class="offer__item">
            <p class="offer__text">
              preparation of raspberry and strawberry filling
            </p>
          </li>
          <li class="offer__item">
            <p class="offer__text">melt chocolate for decoration</p>
          </li>
          <li class="offer__item">
            <p class="offer__text">fry and glaze donuts</p>
          </li>
          <li class="offer__item">
            <p class="offer__text">
              donut decoration. painting and various techniques
            </p>
          </li>
        </ul>
        <a class="button link" href="#registration">Register</a>
      </li>

      <!-- premium -->
      <li class="price__item">
        <h3 class="price__offer">Premium</h3>
        <ul class="offer__list list"></ul>
        <a class="button link" href="#registration">Register</a>
      </li>
    </ul>
  </div>
</section>
