<section class="speakers">
  <div class="container">
    <h2 class="section__title">Speakers</h2>
    <ul class="speakers__list list">
      <li class="speakers__card">
        <picture>
          <source
            srcset="
              ./images/mobile/speakers/pastry-chef.png    1x,
              ./images/mobile/speakers/pastry-chef@2x.png 2x
            "
          />
          <img
            src="./images/mobile/speakers/pastry-chef.png"
            alt="woman with a cake"
            class="speakers__photo"
          />
        </picture>
        <p class="speakers__name text">Molly Rivera</p>
        <p class="speakers__position">
          Pastry chef, master chocolatier of Spain
        </p>
      </li>
      <li class="speakers__card">
        <picture>
          <source
            srcset="
              ./images/mobile/speakers/culinary-school-pastry-chef.png    1x,
              ./images/mobile/speakers/culinary-school-pastry-chef@2x.png 2x
            "
          />
          <img
            src="./images/mobile/speakers/culinary-school-pastry-chef.png"
            alt="woman with a dessert box"
            class="speakers__photo"
          />
        </picture>
        <p class="speakers__name text">Sophia Clark</p>
        <p class="speakers__position">Сulinary school pastry chef</p>
      </li>
      <li class="speakers__card">
        <picture>
          <source
            srcset="
              ./images/mobile/speakers/confectionery-consultant.png    1x,
              ./images/mobile/speakers/confectionery-consultant@2x.png 2x
            "
          />
          <img
            src="./images/mobile/speakers/confectionery-consultant.png"
            alt="woman with a cup of coffe"
            class="speakers__photo"
          />
        </picture>
        <p class="speakers__name text">Isabella Taylor</p>
        <p class="speakers__position">Сonsultant in the art of confectionery</p>
      </li>
      <li class="speakers__card">
        <picture>
          <source
            srcset="
              ./images/mobile/speakers/master-chocolatier.png    1x,
              ./images/mobile/speakers/master-chocolatier@2x.png 2x
            "
          />
          <img
            src="./images/mobile/speakers/master-chocolatier.png"
            alt="woman with a chokolate"
            class="speakers__photo"
          />
        </picture>
        <p class="speakers__name text">Evelyn Miller</p>
        <p class="speakers__position">Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
