.section__title {
  font-family: var(--section-title-font);

  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}

.section__title--bigger-font-weight {
  font-weight: 600;
  color: var(--secondary-text-color);
}
