.about-us {
  padding-top: 20px;
  padding-bottom: 28px;
}

.about-us__picture {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.about-us .section__title {
  margin-bottom: 8px;
}

.about-us__text {
  margin-bottom: 16px;
}

.split {
  display: block;
  margin-bottom: 20px;
}

.read-more {
  display: none;
  visibility: hidden;
}
