.about-us {
  padding-top: 20px;
}

.about-us__picture {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.section__title {
  margin-bottom: 8px;

  font-family: var(--section-title-font);

  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
}

.about-us__text {
  margin-bottom: 16px;
}

.split {
  display: block;
  margin-bottom: 20px;
}

.read-more {
  display: none;
  visibility: hidden;
}

.open-text {
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
}
