.page-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 16px;
  width: 100%;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo {
  width: 108px;
  height: 50px;
}

.navigation {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-button {
  background-color: transparent;
  border: none;
}
